body {
  font-family: Arial, Helvetica, sans-serif;
}

.animate-mask {
  animation: mask 3.4s cubic-bezier(0.33, 1, 0.68, 1) infinite both;
}

@keyframes mask {
  0% {
    mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0.4) 50%,
      #000 75%
    );
    mask-size: 400%;
    mask-position: 100%;
  }

  70%,
  100% {
    mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0.4) 50%,
      #000 75%
    );
    mask-size: 400%;
    mask-position: 0;
  }
}

.gradient {
  background-image:
    radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
}
