.header {
  position: relative;
  z-index: 50;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 0;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.2s;
}

.logo:hover {
  opacity: 0.9;
}
